{% extends 'base.html.twig' %}

{% block title %} - Accueil{% endblock %}

{% block body %}
    {% block content %}
        <h1>AGG bis, like AGG, but in different</h1>
            {% if articles is defined %}
                {% for article in articles %}
                        <a href="{{ path('app_article_display', {'slug': article.slug}) }}">
                            <div id="articleMin">
                                <h2 id="titleArticleMin">{{ article.title }}</h2>
                                <div>
                                    <img src="{{ ('/uploads/' ~ article.image) }}" alt="article's image" id="imgArticleMin">
                                </div>
                            </div>
                        </a>
                {% endfor %}
            {% endif %}
    {% endblock %}
{% endblock %}
