{% extends 'base.html.twig' %}

{% block title %} - Writer space{% endblock %}

{% block body %}
    {% block content %}
        <h1> Writer Space</h1>
        <div>
            <div>
                <p><i class="fa-solid fa-plus"></i></p>
                <p><a href="/article_add">Add an article</a></p>
            </div>

            <div>
                <p><i class="fa-solid fa-trash"></i></p>
                <p><a href="/article">Delete an article</a></p>
            </div>
        </div>

            <div>
                <p><i class="fa-solid fa-pen-to-square"></i></p>
                <p><a href="/article">Edit an article</a></p>
            </div>
    {% endblock %}
{% endblock %}
